<div class="add-group showgroup"
     id="group_{{model.showgroup.GroupId}}">
    <div>
        <p>Название: {{model.showgroup.Name}}</p> 
        <p>Заметка:  {{model.showgroup.Note}}</p> 
        <p>Описание: {{model.showgroup.Description}}</p>
    </div>
    <div  ng-controller="membersgroupController">
        
            <button ng-click="showMembers(model.showgroup.GroupId)">КПоказать всех учатников</button>
       
    </div>
</div>

