<div 
     class="group" 
     id="group_{{group.GroupId}}" 
    
     ng-repeat="group in model.groups">
    <span 
          class="checkbox" 
          id="check_{{group.GroupId}}" 
          ng-click="chooseGroup(group.GroupId)">

    </span>
    <span 
          class="info">
        {{group.Name}} 
        {{group.Note}}
    </span>
</div>