<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Stalin's notebook | Домашняя страница</title>
    <link rel="stylesheet" href="~/Content/index.css" />
    <script src="~/scripts/index.js"></script>
</head>
<body>
    <div class="layer_1" id="layer_1">
        <content>
            <img src="~/Content/img/logo.png" />
            <div class="autorisation">
                <div id="enter_button">Вход</div>
            </div>
        </content>
    </div>
    <div class="layer_2" id="layer_2">
        <content>
            <div id="enter">
                <input type="password" id="password" placeholder="Пароль" />
                <button id="submit">Войти</button>
            </div>
        </content>
    </div>

    <script>
        Index.init();
    </script>
</body>
</html>
