
    <span class="checkbox" id="check_all" ng-click="chooseAll()"></span>
    <div class="action-bar" id="items_actions">
        <button class="delete-button" ng-click="deleteContacts()"><i class="material-icons">delete</i></button>
        <button><i class="material-icons">email</i></button>
        <button ng-controller="membersgroupController" ng-click="addMembers()"><i class="material-icons">group_add</i></button>
    </div>

