
    <span class="checkbox" id="check_all" ng-click="chooseAll()"></span>
    <div class="action-bar shown">
    <button ng-click="searchAble()">
        <i class="material-icons">search</i>
        </button>
    </div>

    <div class="action-bar" id="items_actions">
        <button class="delete-button" ng-controller="deleteController" ng-click="deleteItems()"><i class="material-icons">delete</i></button>
        <button><i class="material-icons">email</i></button>
        <button ng-controller="createController" ng-click="createMembers()"><i class="material-icons">group_add</i></button>
    </div>

