<form class="add-contact">
    <p>Название</p>
    <input type="text" id="Name" placeholder="Название"  ng-model="model.currentitem.Name"/>
    <p>Заметка</p>
    <input type="text" id="Note" placeholder="Заметка"  ng-model="model.currentitem.Note" />
    <p>Описание</p>
    <input type="text" id="Description" placeholder="Описание"  ng-model="model.currentitem.Description" />
    
    <button ng-click="editGroup(model.currentitem, editGroupForm)">
        Сохранить изменения
    </button>
</form>