
<form class="add-contact">

    <button ng-click="editCF('true')"><i class="material-icons">edit</i></button>
    <p>Фамилия</p>
    <input type="text" id="LastName" placeholder="Фамилия"  ng-model="model.currentitem.LastName" />
    <p>Имя</p>
    <input type="text" id="FirstName" placeholder="Имя"  ng-model="model.currentitem.FirstName" />
    <p>Отчество</p>
    <input type="text" id="MiddleName" placeholder="Отчество"  ng-model="model.currentitem.MiddleName" />
    <p>Телефон (+7XXX-XXX-XX-XX)</p>
    <input type="text" id="Telephone1" placeholder="Телефон (+7XXX-XXX-XX-XX)"  ng-model="model.currentitem.Telephone1"/>
    <p>Адрес</p>
    <input type="text" id="Address" placeholder="Адрес"  ng-model="model.currentitem.Address"/>
    <!--<input type="text" id="Email" placeholder="E-mail" />
    <input type="text" id="Work" placeholder="Работа" />
    <input type="text" id="Position" placeholder="Должность" />
    <input type="text" id="Chief" placeholder="Прямой руководитель" />-->

    <button ng-click="editContact(model.currentitem, editContactForm)">
        Сохранить изменения
    </button>
    
</form>
