<form class="add-contact">
    <input type="text" id="Lastname" placeholder="Фамилия"  ng-required="required" ng-model="contact.Lastname" />
    <input type="text" id="Firstname" placeholder="Имя" ng-required="required" ng-model="contact.Firstname" />
    <input type="text" id="Middlename" placeholder="Отчество"  ng-required="required" ng-model="contact.Middlename" />
    <input type="text" id="Phone" placeholder="Телефон"  ng-required="required" ng-model="contact.Phone" />
    <input type="text" id="Adress" placeholder="Адрес"  ng-required="required" ng-model="contact.Adress" />
    <!--<input type="text" id="Email" placeholder="E-mail" />
    <input type="text" id="Work" placeholder="Работа" />
    <input type="text" id="Position" placeholder="Должность" />
    <input type="text" id="Chief" placeholder="Прямой руководитель" />-->

    <button ng-click="addContact(contact, addContactForm)">
        Добавить контакт
    </button>
</form>