<div class="contact" id="cont_{{contact.ContactId}}" ng-repeat="contact in model.contacts">
    <div>
        <span class="checkbox" id="check_{{contact.ContactId}}" ng-click="chooseCont(contact.ContactId)"></span>
        <span class="info">{{contact.LastName}} {{contact.FirstName}} {{contact.MiddleName}}</span>
    </div>
    <div class="call-button" id="SkypeButton_Call_#selisej198_1" ng-click="call()">
        Call
    </div>
</div>