<div class="item contact" id="item_{{contact.ContactId}}" ng-repeat="contact in model.contacts">
    <span class="checkbox" id="check_{{contact.ContactId}}" ng-click="chooseItem(contact.ContactId)"></span>
    <span class="info">{{contact.LastName}} {{contact.FirstName}} {{contact.MiddleName}}</span>    
    <span class="markers" ng-controller="membersgroupController" ng-include="pathmarker"></span>
</div>