<div class="contact" id="cont_{{contact.Id}}" ng-repeat="contact in model.contacts">
    <span class="checkbox" id="check_{{contact.Id}}" ng-click="chooseCont(contact.Id)"></span>
    <span class="info">{{contact.Lastname}} {{contact.Firstname}} {{contact.Middlename}}</span>    
</div>