<div class="contact" id="cont_{{contact.ContactId}}" ng-repeat="contact in model.contacts">
    <div>
        <span class="checkbox" id="check_{{contact.ContactId}}" ng-click="chooseCont(contact.ContactId)"></span>
        <span class="info">{{contact.LastName}} {{contact.FirstName}} {{contact.MiddleName}}</span>
    </div>
    <a href="skype:+79111855128?call" class="call-button">
        <i class="material-icons">call</i>
    </a>
</div>