<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="~/scripts/angular.min.js"></script>
    <title>Notebook</title>
</head>
<body>
    <header>
        <img src="~/Content/img/logo_min.png" />
        <nav>
            <a href="#">Профиль</a>
            <a href="/Index/Index">Выход</a>
        </nav>
    </header>
    <content ng-controller="listController">
        <!--////////////       Left-side part  with list cintact begin       ////////////////////-->

        <aside >
            <div class="action-menu">
                <div class="switch">
                    <button id="show-contacts" ng-click="changeList('contacts')">Контакты</button>
                    <button id="show-group" ng-click="changeList('groups')">Группы</button>
                </div>
                <div ng-include="list_type">
                </div>
            </div>
            <div class="list-wrapper">
                <div class="list-contacts" ng-include="path"></div>
            </div>
        </aside>
        <!--////////////       Left-side part  with list cintact end       ////////////////////-->

        <!--////////////       Middle part   begin        ////////////////////-->
        <div class="right-side" ng-controller="createController">
            <div class="action-menu">
                <button class="add-contact" ng-click="createContactForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новый контакт</div>
                </button>
                <button class="right-side add-contact" ng-click="createGroupForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новая группа</div>
                </button>
            </div>
            <div class="output">
                <div ng-include="show"></div>
                <div ng-include="create"></div>
                <div ng-include="edit"></div>
                
            </div>

        </div>
        
        
    </content>
    <script>
        var model = {
            contacts: [],
            groups: [],
            members: [],
            infomarkersgroup: [],
            flag:"flagContact",
            choosed_items: [],
            currentitem: []

        };

        var mainApp = angular.module("mainApp", []);
    </script>
    
    
    <script src="~/scripts/controllers/listController.js"></script>
    <script src="~/scripts/controllers/groupController.js"></script>
    <script src="~/scripts/controllers/membersgroupController.js"></script>
    <script src="~/scripts/controllers/createController.js"></script>
</body>
</html>
