<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="~/scripts/angular.min.js"></script>
    <title>Notebook</title>
</head>
<body>
    <header>
        <img src="~/Content/img/logo_min.png" />
        <nav>
            <a href="#">Профиль</a>
            <a href="/Index/Index">Выход</a>
        </nav>
    </header>
    <content>
        <!--////////////       Left-side part  with list cintact begin       ////////////////////-->

        <aside ng-controller="listController">
            <div class="action-menu">
                <div class="switch">
                    <button id="show-contacts" ng-click="changeList('contacts')">Контакты</button>
                    <button id="show-group" ng-click="changeList('groups')">Группы</button>
                </div>
                <div ng-include="list_type">
                </div>
            </div>
            <div class="list-wrapper">
                <div class="list-contacts" ng-include="path"></div>
            </div>
        </aside>
        <!--////////////       Left-side part  with list cintact end       ////////////////////-->

        <!--////////////       Middle part   begin        ////////////////////-->
        <div class="right-side" ng-controller="contactController">
            <div class="action-menu">
                <button class="add-contact" ng-click="addContactForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новый контакт</div>
                </button>
            </div>
            <div class="output">
                <div ng-include="path"></div>
            </div>
        </div>

        <div class="right-side" ng-controller="groupController">
            <div class="action-menu">
                <button class="right-side add-contact" ng-click="createEditGroupForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новая группа</div>
                </button>
            </div>
            <div class="output">
                <div ng-include="path"></div>  
            </div>
        </div>

        <!--////////////       Middle part        end   ////////////////////-->

        <!--////////////       Right-side part  with list group begin       ////////////////////-->
        <aside ng-controller="groupController">
            <div class="action-menu">
                <span class="checkbox" id="check_all" ng-click="chooseAll()"></span>
                <div class="action-bar" id="groups_actions">
                    <button class="delete-button" ng-click="deleteGroups()"><i class="material-icons">delete</i></button>
                    <button><i class="material-icons">email</i></button>
                    <button class="right-side" ng-click="createEditGroupForm()"><i class="material-icons">add</i></button>
                </div>
            </div>
            <div class="list-wrapper">
                <div class="list-groups" ng-include="pathgroup"></div>
            </div>
        </aside>
        <!--////////////       Right-side part  with list group end    ////////////////////-->
    </content>
    <script>
        var model = {
            contacts: [],
            choosed_contacts: [],
            groups: [],
            choosed_groups: [],
            infomarkersgroup: [],

            showgroup: []

        };

        var mainApp = angular.module("mainApp", []);
    </script>
    
    <script src="~/scripts/controllers/contactController.js"></script>
    <script src="~/scripts/controllers/listController.js"></script>
    <script src="~/scripts/controllers/groupController.js"></script>
    <script src="~/scripts/controllers/membersgroupController.js"></script>
</body>
</html>
