<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="~/scripts/angular.min.js"></script>
    <title>Notebook</title>
</head>
<body>
    <header>
        <img src="~/Content/img/logo_min.png" />
        <nav>
            <a href="#">Профиль</a>
            <a href="/Index/Index">Выход</a>
        </nav>
    </header>
    <content ng-controller="listController">
        <aside >
            <div class="action-menu left-menu">
                <div class="specific-func" ng-include="list_type">
                </div>
                <select class="switch-list" ng-model="selectedItem" ng-change="changeList(selectedItem)">
                    <option value="contacts">Контакты</option>
                    <option value="groups">Группы</option>
                </select>
                </div>
            
            <div class="list-wrapper">
                <div class="list-contacts" ng-include="path"></div>
            </div>
        </aside>
        <div class="right-side" ng-controller="createController">
            <div class="action-menu">
                <button class="add-contact" ng-click="createContactForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новый контакт</div>
                </button>
                <button class="right-side add-contact" ng-click="createGroupForm()">
                    <div><i class="material-icons md-18">add</i></div>
                    <div>Новая группа</div>
                </button>
            </div>
            <div ng-controller="editController" class="output">
                <div  ng-include="show"></div>
                <div  ng-include="create_edit"></div>
                <div  ng-include="edit"></div>
                
            </div>

        </div>
        
        
    </content>
    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <script>
        var model = {
            contacts: [],
            groups: [],
            members: [],
            infomarkersgroup: [],
            flag:"flagContact",
            choosed_items: [],
            choosed_members: [],
            currentitem: [],
            markers:[]

        };

        var mainApp = angular.module("mainApp", []);
    </script>
    
    
    <script src="~/scripts/controllers/listController.js"></script>
    <script src="~/scripts/controllers/createController.js"></script>
    <script src="~/scripts/controllers/deleteController.js"></script>
    <script src="~/scripts/controllers/editController.js"></script>
</body>
</html>
