<div class="item contact" id="item_{{contact.ContactId}}" ng-repeat="contact in model.contacts" >
    <!--ng-mouseenter="showMarkers(contact.ContactId)"
ng-mouseleave="showMarkers(contact.ContactId)"-->

    <div>
        <span class="checkbox" id="check_{{contact.ContactId}}" ng-click="chooseItem(contact.ContactId)"></span>
        <span class="info" ng-click="showItem(contact.ContactId,contact)">{{contact.LastName}} {{contact.FirstName}} {{contact.MiddleName}}</span>
    </div>
    <a href="skype:{{contact.Telephone1}}?call" class="call-button">
        <i class="material-icons">call</i>
    </a>
</div>