<div class="item contact"
     id="item_{{group.GroupId}}"
     ng-repeat="group in model.groups | filter:filtering" >
    <div>
        <span class="checkbox"
              id="check_{{group.GroupId}}"
              ng-click="chooseItem(group.GroupId)">
        </span>
        <span class="info" ng-click="groupClickHandler(group)">
            {{group.Name}}
            <span class="note">{{group.Note}}</span>
        </span>
    </div>
</div>