<div class="item contact" id="item_{{member.ContactId}}" ng-repeat="member in model.members">
    <span class="checkbox" id="check_{{member.ContactId}}" ng-click="chooseItem(member.ContactId,member)"></span>
    <span class="info">{{member.LastName}} {{member.FirstName}} {{member.MiddleName}}</span>
    

    <script>alert("Привет")</script>
    <script>alert($scope.members[0].ContactId)</script>
</div>
