@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Using Flexbox to simplify layout */

body {
    margin: 0;
}

/* Header settings */

header {
    /* Container settings */
    display: flex;
    flex-flow: row wrap;
    padding: 18px 48px;
    border-bottom: 1px solid #ececec;
    
    /* Content */
    justify-content: space-between;
    align-items: center;
}
    /* Logo */
    header img {
        height: 20px;
        width: auto;
        display: inline-flex;
    }

    header nav {
        display: inline-flex;
    }

        header nav a {
            display: inline-flex;
            font-family: "Open Sans";
            font-size: 13px;
            text-decoration: none;
            color: #696464;
            transition: color ease-out 100ms;
        }

            header nav a:hover {
                color: #d77e79;
            }

            header nav a:first-child {
                margin-right: 18px;
            }

/* Content settings */

content {
    display: flex;
    flex-flow: row wrap;
    height: calc( 100vh - 57px );

    justify-content: flex-start;
}

    content aside {
        width: 380px;
        border-right: 1px solid #ececec;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;

        /*flex-grow: 1;*/
        align-content: stretch;
        align-items: stretch;
        padding: 0;
        margin: 0;
    }

        aside div.action-menu {
            display: flex;
            flex-flow: row, wrap;
            align-items: center;
            padding: 12px 26px;
            border-bottom: 1px solid #ececec;
            margin: 0;
            width: 100%;
            box-sizing: border-box;
        }

            aside div.action-menu .checkbox {
                margin: 0 !important;   
            }

            div.action-menu div.action-bar {
                margin-left: 8px;
                cursor: default;
                opacity: 0;
                transition: all ease-out 100ms;
            }

                div.action-menu div.action-bar.shown {
                    opacity: 1;
                }

                div.action-menu div.action-bar button {
                    border: 0;
                    background: none;
                    padding: 0 !important;
                    color: #9B9595;
                    cursor: pointer;
                }

                    div.action-menu div.action-bar button:hover {
                        color: #696464;
                    }

                    div.action-menu div.action-bar button.delete-button:hover {
                        color: #d77e79;
                    }

                    div.action-menu div.action-bar button:first-of-type {
                        margin-right: -1px;
                    }

                    div.action-menu div.action-bar button:last-of-type {
                        margin-left: 2px;
                    }

                    div.action-bar button i {
                        font-size: 20px;
                        margin-top: 4px;
                    }

        aside div.list-wrapper {
            display: flex;
            flex-flow: column;
            overflow: scroll;
            width: 100%;
            box-sizing: border-box;
            padding: 12px; 
            flex-grow: 1;
        }   

    content div.right-side {
        /*height: calc( 100vh - 57px);*/
        display: flex;
        flex-grow: 1;
        flex-flow: column;
    }

        div.action-menu {
            padding: 12px;
            border-bottom: 1px solid #ececec;
            margin: 0;
        }
        
            div.action-menu button.add-contact{
                width: auto;
                background: #69c6b2;
                box-sizing: border-box;
                border: 0;
                border-radius: 2px;
                padding: 6px 12px;
                color: #ffffff;
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                cursor: pointer;
                vertical-align: middle;
            }

                div.action-menu button.add-contact:hover {
                    background: #29ae91;
                }

                button.add-contact div {
                    display: inline-flex;
                    vertical-align: middle;
                }

                    button.add-contact div:first-child {
                        margin-left: -6px;
                        margin-right: 5px;
                    }

                    button.add-contact div i {
                        font-size: 18px;
                    }

        content div.right-side div.output {
            display: block;
            padding: 24px 28px;
            overflow: scroll;
            height: 100%;
        }

            div.output > div {
                display: flex;
                justify-content: center;
            }

            div.output form.add-contact {
                display: flex;
                flex-flow: column wrap;
                width: 320px;

            }

                form.add-contact input {
                    margin-bottom: 18px;
                    border: 0;
                    border-bottom: 1px solid #696464;
                    font-family: 'Open Sans';
                    padding: 9px 12px;
                    color: #696464;
                }

                form.add-contact button {
                    width: 100%;
                    background: #69c6b2;
                    box-sizing: border-box;
                    border: 0;
                    border-radius: 2px;
                    padding: 10px 14px;
                    color: #ffffff;
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                    margin-top: 0px;
                    margin-bottom: 24px;
                }

                    form.add-contact button:hover {
                        background: #29ae91;
                    }

/* Contacts list */

div.list-contacts {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 13px;
    box-sizing: border-box;
}

    div.list-contacts div.contact {
        display: flex;
        width: 100%;
        padding: 12px 14px;
        box-sizing: border-box;
        color: #696464;
        border-bottom: 1px solid #ececec;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

        div.contact.checked {
            color: #B5ADAD !important;
        }

            .checkbox {
                display: inline-flex;
                box-sizing: border-box;
                width: 13px;
                height: 13px;
                background: #ffffff;
                border: 1px solid #B5ADAD;
                border-radius: 1px;
                margin-right: 13px;
                cursor: pointer;
                color: #B5ADAD;
            }

                .checkbox.checked::after {
                    font-family: 'Material Icons';
                    font-size: 12px;
                    content: 'done';
                    margin: -1px 0 0 0px;
                }


            .info {
                display: inline-flex;
                cursor: pointer;  
                align-self: stretch;
            }

                .info:hover {
                    color: #d77e79;
                }

        input[type="checkbox"] {
            display: none;
        }

        .call-button {
            display: inline-flex; 
            cursor: pointer; 
            text-decoration: none;
            color: #B5ADAD;
        }

            .call-button:hover {
                color: #69c6b2;
            }

            .call-button i {
                font-size: 20px;
            }



