<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/profile.css" 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="~/scripts/angular.min.js"></script>
    <title>Notebook</title>
</head>
<body>
    <header>
        <a href="/Main/Main"><img src="~/Content/img/logo_min.png" /></a>
        <nav>
            <a href="/Main/ProfilePage">Профиль</a>
            <a href="/Index/Index">Выход</a>
        </nav>
    </header>
    <content ng-controller="listController">
        @RenderBody()
    </content>
    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <script>
        var model = {
            contacts: [],
            groups: [],
            members: [],
            infomarkersgroup: [],
            flag:"flagContact",
            choosed_items: [],
            choosed_members: [],
            currentitem: [],
            markers:[]

        };

        var mainApp = angular.module("mainApp", []);
    </script>


    <script src="~/scripts/controllers/listController.js"></script>
    <script src="~/scripts/controllers/createController.js"></script>
    <script src="~/scripts/controllers/deleteController.js"></script>
    <script src="~/scripts/controllers/editController.js"></script>
</body>
</html>