<div class="show-item" id="contact_{{model.currentitem.ContactId}}">
    <div>
        <p><span class="label">Фамилия</span>  {{model.currentitem.LastName}}</p>
        <p><span class="label">Имя</span> {{model.currentitem.FirstName}}</p>
        <p><span class="label">Отчество</span> {{model.currentitem.MiddleName}}</p>
        <p><span class="label">Адрес</span> {{model.currentitem.Address}}</p>
        <p><span class="label">Телефон</span> {{model.currentitem.Telephone1}}</p>
    </div>
</div>

