<div class="show-item" id="group_{{model.currentitem.GroupId}}">
    <div>
        <p><span class="label">Название</span> {{model.currentitem.Name}}</p>
        <p><span class="label">Заметка</span> {{model.currentitem.Note}}</p>
        <p><span class="label">Описание</span> {{model.currentitem.Description}}</p>
    </div>
</div>